<div>
    <h1>Perfil de usuario</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <button class="logout">Logout</button>
    <script src="/public/logout.js"></script>
</div>