<div>
    <h1>Restablecer contraseña</h1>
    <form id="resetPasswordForm">
        <label>Email</label>
        <input name="email" type="email">
        <br>
        <label>Contraseña</label>
        <input name="newPassword" type="password">
        <br>
        <input type="submit" value="Enviar">
        <a href="/login">Cancelar</a>
    </form>
</div>
<script src="'/files/resetPassword.js"></script>